'atom-text-editor':
  'ctrl-k': 'core:move-up'
  'ctrl-j': 'core:move-down'
  'ctrl-h': 'core:move-left'
  'ctrl-l': 'core:move-right'
  'ctrl-shift-k': 'core:select-up'
  'ctrl-shift-j': 'core:select-down'
  'ctrl-shift-h': 'core:select-left'
  'ctrl-shift-l': 'core:select-right'
  'ctrl-i': 'editor:move-to-beginning-of-previous-paragraph'
  'ctrl-u': 'editor:move-to-beginning-of-next-paragraph'
  'ctrl-o': 'editor:move-to-next-subword-boundary'
  'ctrl-y': 'editor:move-to-previous-subword-boundary'
  'ctrl-shift-i': 'editor:move-line-up'
  'ctrl-shift-u': 'editor:move-line-down'
  'ctrl-shift-o': 'editor:select-to-beginning-of-next-word'
  'ctrl-shift-y': 'editor:select-to-beginning-of-word'
  'ctrl-s': 'spell-check:correct-misspelling'
  'ctrl-p': '!unset'
  'ctrl-shift-p': '!unset'
  'ctrl-left': 'editor:move-to-beginning-of-word'
  'ctrl-right': 'editor:move-to-end-of-word'
  'ctrl-shift-left': 'editor:select-to-beginning-of-word'
  'ctrl-shift-right': 'editor:select-to-end-of-word'
  'ctrl-s': 'spell-check:correct-misspelling'
