@import "syntax-variables";

atom-text-editor {
 background-color: @syntax-background-color;
 color: @syntax-text-color;
}

atom-text-editor .gutter {
 background-color: @syntax-gutter-background-color;
 color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line {
 background-color: @syntax-gutter-background-color;
 color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection {
 color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide {
 color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide {
 color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character {
 color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .syntax--marker .region {
 background-color: transparent;
 border: @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region {
 border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor {
 border-left: 2px solid @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region {
 background-color: @syntax-selection-color;
}

.syntax--comment,
.syntax--punctuation.syntax--definition.syntax--comment {
 color: @syntax-comment-color;
}

.syntax--variable {
 color: @syntax-text-color;
}

.syntax--function > .syntax--variable {
 color: @syntax-text-color;
}

.syntax--keyword,
.syntax--storage.syntax--modifier,
.syntax--storage.syntax--type {
 color: @syntax-text-color;
}

.syntax--keyword.syntax--operator,
.syntax--constant.syntax--other.syntax--color,
.syntax--punctuation,
.syntax--punctuation.syntax--string,
.syntax--meta.syntax--tag,
.syntax--punctuation.syntax--definition.syntax--tag,
.syntax--punctuation.syntax--separator.syntax--inheritance.syntax--php,
.syntax--punctuation.syntax--definition.syntax--tag.syntax--html,
.syntax--punctuation.syntax--definition.syntax--tag.syntax--begin.syntax--html,
.syntax--punctuation.syntax--definition.syntax--tag.syntax--end.syntax--html {
 color: @syntax-text-color;
}

.syntax--entity.syntax--name.syntax--tag,
.syntax--meta.syntax--tag.syntax--sgml,
.syntax--markup.syntax--deleted.git_gutter {
 color: @syntax-text-color;
}

.syntax--entity.syntax--name.syntax--function,
.syntax--meta.syntax--function-call,
.syntax--support.syntax--function,
.syntax--keyword.syntax--other.syntax--special-method,
.syntax--meta.syntax--block-level {
 color: @syntax-text-color;
}

.syntax--support.syntax--other.syntax--variable,
.syntax--string.syntax--other.syntax--link {
 color: @syntax-text-color;
}

.syntax--constant.syntax--numeric,
.syntax--constant.syntax--language,
.syntax--support.syntax--constant,
.syntax--constant.syntax--character,
.syntax--variable.syntax--parameter,
.syntax--punctuation.syntax--section.syntax--embedded,
.syntax--keyword.syntax--other.syntax--unit {
 color: @syntax-text-color;
}

.syntax--string,
.syntax--variable.syntax--quoted.syntax--elixir,
.syntax--constant.syntax--other.syntax--symbol,
.syntax--entity.syntax--other.syntax--inherited-class,
.syntax--markup.syntax--heading,
.syntax--markup.syntax--inserted.git_gutter {
 color: @syntax-text-color;
}

.syntax--variable.syntax--constant.syntax--elixir,
.syntax--entity.syntax--name.syntax--type,
.syntax--entity.syntax--name.syntax--class,
.syntax--entity.syntax--name.syntax--type.syntax--class,
.syntax--support.syntax--type,
.syntax--support.syntax--class,
.syntax--support.orther.syntax--namespace.syntax--use.syntax--php,
.syntax--meta.syntax--use.syntax--php,
.syntax--support.syntax--other.syntax--namespace.syntax--php,
.syntax--markup.syntax--changed.git_gutter {
 color: @syntax-text-color;
}

.syntax--entity.syntax--name.syntax--module.syntax--js,
.syntax--variable.syntax--import.syntax--parameter.syntax--js,
.syntax--variable.syntax--other.syntax--class.syntax--js {
 color: @syntax-text-color;
}

.syntax--variable.syntax--language {
 color: @syntax-text-color;
}

.syntax--entity.syntax--name.syntax--method.syntax--js {
 color: @syntax-text-color;
}

.syntax--meta.syntax--method.syntax--js {
 color: @syntax-text-color;
}

.syntax--entity.syntax--other.syntax--attribute-name {
 color: @syntax-text-color;
}

.syntax--markup.syntax--inserted {
 color: @syntax-color-added;
}

.syntax--markup.syntax--deleted {
 color: @syntax-color-removed;
}

.syntax--markup.syntax--changed {
 color: @syntax-color-modified;
}

.syntax--string.syntax--regexp {
 color: @syntax-text-color;
}

.syntax--constant.syntax--character.syntax--escape {
 color: @syntax-text-color;
}

.syntax--constant.syntax--character.syntax--escape.syntax--css,
.syntax--constant.syntax--character.syntax--escape.syntax--scss  {
 color: @syntax-text-color;
}

* .syntax--url *, * .syntax--link *, * .syntax--uri * {
 text-decoration: underline;
}
